In [89]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [99]:
df = pd.read_csv("C:\\Users\\USER\\Documents\\projects\\data\\stock_price_prediction\\GOOG.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
1  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
2  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
3  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512
4  2004-08-26  2.613952  2.688672  2.606729  2.687676   2.687676  142572401

In [100]:
forecast_column = 'Close'
forecast_out = 10
df['label'] = df[forecast_column].shift(-forecast_out)
df = df[['Close', 'label']]
df.head()

      Close     label
0  2.697639  2.490913
1  2.724787  2.530017
2  2.611960  2.547950
3  2.640104  2.548199
4  2.687676  2.623417

In [101]:
X = np.array(df[[forecast_column]])
X = preprocessing.scale(X)
X = X[:-forecast_out]
X_lately = X[-forecast_out:]

df.dropna(inplace=True)
y = np.array(df[['label']])

print(y)
print(len(X), len(y))

[[  2.490913]
 [  2.530017]
 [  2.54795 ]
 ...
 [108.360001]
 [108.209999]
 [105.440002]]
4504 4504

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [103]:
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9946332926861443

In [105]:
predicted_price = clf.predict(X_lately)
print(predicted_price)

[[113.11307189]
 [112.79698933]
 [109.90310342]
 [109.61060741]
 [114.4330783 ]
 [115.76412442]
 [119.87064903]
 [120.73610796]
 [117.07760855]
 [115.39887894]]